<div style="height: 80vh;">
  <div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">

      <div class="center-block login-container">
        <div class="panel panel-primary boxshadow">
          <div class="panel-heading">

          </div>
          <div class="panel-body">
            <div class="col">

              <div *ngIf="loginInProgress" id="loginInProgress">
                <h4>Выполняется подключение и авторизация на сервере. Пожалуйста, подождите.</h4>
              </div>

              <div *ngIf="!loginInProgress && loginFailed">
                <h4 style="color: red">Не удалось подключиться к серверу</h4>
                <p>{{errorMessage}}</p>
              </div>

              <div *ngIf="!loginInProgress && !loginFailed">
                <h4>Авторизация выполнена. Вы будете перенаправлены на страницу просмотра отчетов.</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>